.generator {
  border: 1px solid #a1a1a1;
  padding: 15px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 20px; */
}

.promptContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.promptIntro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  color: var(--font-secondary);
}

.promptIntro button {
  background-color: transparent;
  all: unset;
}

.promptIntro button:hover {
  color: #fff;
}

.promptInput textarea {
  width: 100%;
  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  min-height: 150px;
  padding: 15px;
  resize: none;
  color: var(--font-primary);
  font-size: 16px;
}

.promptInput textarea::placeholder {
  font-size: 16px;
  color: var(--font-secondary);
}

.promptInput textarea:focus {
  outline: 1px solid var(--highlight-primary);
}

.promptInput button {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  margin-top: 5px;
}

.promptInput button:hover {
  background-color: var(--highlight-primary);
}

.buttonText {
  font-size: 20px;
  font-weight: 600;
  color: var(--font-tertiary);
}

.intro {
  margin-top: 15px;
}

.cubesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.styleCubeWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.styleCubeWrapper:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s;
  text-align: center;
}

.outputSection {
  max-width: 550px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promptDescription {
  text-align: center;
  margin-top: 15px;
}
